operators 
arithematic operator

In [1]:
200 + 29

229

In [2]:
29-10

19

In [3]:
189*7

1323

In [5]:
1201/3

400.3333333333333

In [6]:
1201//3  # floor div.

400

In [7]:
120**3

1728000

*,%,/,//,** - level 1
+- - level 2

In [8]:
10 % 3 - 120 * 5

-599

In [10]:
name = "Amisha Singh"
age = 22
can_vote = True

assignment operator

In [14]:
a=5
a += 10
a-= 10
a/= 10

In [18]:
a,b = 10,31
a>b
a<b
a==b

False

In [23]:
a,b = 10,31
print(a>b)
print(a<b)
print(a==b)

False
True
False

logical operation (and or not)

In [27]:
x = 'apple'
y = 'cherry'
print(x== 'apple' and x==y)
print(x== 'apple' and x!=y)
print(x== 'apple' or x==y)
print (not x == 'apple')

False
True
True
False

In [32]:
fruits = ['apple', 'mango', 'cherry', 'banana', 'orange', 'grapes']

In [29]:
'mango' in fruits #membership operators

True

In [30]:
'avacado' in fruits

False

input and output syntax
var = input('prompt')
num = int(input('prompt'))

In [34]:
p = 12000
r = 3.145
t = 5
si = p * r * t / 100
a = p + si
print ('principle', p)
print ('rate', r)
print('time', t)
print('simple interest', si)
print ('amount', a)

principle 12000
rate 3.145
time 5
simple interest 1887.0
amount 13887.0

In [35]:
p = int(input('principle:'))
r = float(input('rate:'))
t = int(input('time:'))
si = p * r * t / 100
a = p + si
print ('principle', p)
print ('rate', r)
print('time', t)
print('simple interest', si)
print ('amount', a)

principle 100000
rate 21.0
time 10
simple interest 210000.0
amount 310000.0

In [36]:
fav_city = input('Favourite city:')
print ('My favourite city is', fav_city)

My favourite city is vrindavan